@model MyFestival.Models.ResetPasswordConfirmModel
@{
    ViewBag.Title = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password Confirmation</h2>

<p>Great!</p>

<p>Thank you for confirming for change your passord.</p>

@Html.Hidden("Token", Model.Token)

<div class="form-group">
    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @style = "color:red;" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @style = "color:red;" })
    </div>
</div>

        <p>
            <input type="submit" value="Reset Password" />
            @Html.ActionLink("Back to Login", "Login", "Account")
        </p>

