To: @ViewBag.To
From: myfestivalie@gmail.com
Subject: Important Message to activate your account with MyFestival.ie
Content-Type: text/html

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChngPasswordEmail.Html</title>
</head>
<body>
    <div>
        <p>Hello @ViewBag.UserName,</p>
        <br />
        <p>
            Thave you put in a requested to change  your passowrd?
            I you have, click <a href="http://@(ViewBag.HostLocation)/Account/ResetPasswordConfirmation?confirm=@(@ViewBag.restLlink)" title="Click here to confirm your account">Here</a><br />
            Please also keep this token key encase you have a problem: @ViewBag.restLlink.<br />
            If the link does not work due to restrictions in your email client then please copy this link into your browser:<br />

            http://@(ViewBag.HostLocation)/Account/RegisterConfirmation?confirm=@(@ViewBag.ConfirmationToken)

        </p>
        <br />
        <p>
            Regards,
            <br />
            Patrick Melia.
            <br />
            MyFestival.ie
        </p>
    </div>
</body>
