@model MyFestival.Models.EventTypeVM

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add a new Event Type</h4>
                </div>
                <div class="modal-body">

                    @using (Ajax.BeginForm("CreateEventType", new AjaxOptions { HttpMethod = "POST", OnSuccess = "ajaxResponse(data)" }))
                    {
                        @Html.ValidationSummary(true)

                        <div class="form-horizontal">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @style="width:150px" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Create" class="btn btn-info"/>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    }
                    </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#Name").focus();
        });
    </script>

}
